version: "3.8"

services:
  app:
    build: .
    tty: true
    stdin_open: true
    volumes:
      - .:/app
      - bundle:/usr/local/bundle
    depends_on: 
      - db
  db:
    image: postgres:13-alpine
    environment:
        - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  bundle:
  db:
